# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
env/
venv/

# Flask instance and tools caches
instance/
*.db
*.sqlite3
*.log

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db